@use 'scss/_vars' as *;
@use 'scss/_mixins' as *;

.formContainer {
  // opacity: 20%;
  overflow: hidden;
  background-color: #1f2127;
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
}

.loader {
  border: 4px solid #e8eb34;
  border-radius: 50%;
  border-top: 4px solid #1f2127;
  margin: auto;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite; /* Safari */
}
// .loader2 {position: absolute;
//   z-index: 2;
//   border: 4px solid #d62121;
//  border-radius: 50%;
//  // border-top: 30px solid #1f2127;
//  margin: auto;
//  width: 100px;
//  height: 100px;
//  animation: spin 2s linear infinite;
//  -webkit-animation: spin 2s linear infinite; /* Safari */
// }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
