// Font
$mainFont : 'Lato', sans-serif;

// Main color
$default : #fff;

// Text Color
$black : #25282f;
$dark: rgba(0, 0, 0, 0.7);

// Gradient
//$purple: linear-gradient(269.84deg, #7650f2 0%, #cb95e8 100%);
$purple: #00FFA5;
// was at the beginning
//$g-green: linear-gradient(267.32deg, #d8da66 0%, #81c25f 87.56%);
$g-green: #00FFA5;
$g-yelow: linear-gradient(267.32deg, #d8da66 0%, #81c25f 0%);
$g-white: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
