@use 'scss/_vars' as *;
@use 'scss/_mixins' as *;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #323644;
  border-bottom: 1px solid #1F2127;
}

.profilePhoto {
padding: 10px;
background: #1f2127;
border-radius: 50%
}

.check {
  font-size: 16px;
  color: #babec9;
  margin-bottom: 10px;
}
.checkInput {
  padding-top: 3px;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  border-radius: 0.05em;
  background-color: #1f349b;
}
