@use 'scss/_vars' as *;
@use 'scss/_mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #323644;
  border: 1px solid #1f2127;
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
}

.profilePhoto {
  padding: 10px 9px;
  width: 50px;
  background: #1f2127;
  border-radius: 50%;

  //margin: 5px 10px 5px 5px;
  //min-width: 50px;
  //border-radius: 50%;
  font-size: 15px;
  font-weight: 600;
  color: #c0c2c9;
  line-height: 50px;
  text-align: center;
  //background: #61646f;
  cursor: pointer;

  &:first-child {
    margin-right: 20px;
  }
}


.check {
  font-size: 16px;
  color: #babec9;
  margin-bottom: 10px;
}
.checkInput {
  padding-top: 3px;
  width: 1em;
  height: 1em;
  margin-right: 5px;
  border-radius: 0.05em;
  background-color: #1f349b;
}
